# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/

# Archivos de Java
*.class
*.jar
*.war

# Variables de entorno
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Temporal
/tmp/
*.tmp
